
<app-header></app-header>
<div class="dashboard-layout">
    <div class="side-bar">
        <ul  class="">
            <li ><a  routerlinkactive="active" >
                <img src="../../../assets/images/icons/dashboard icons/seller dashboard 1.png"> Seller Dashboard</a></li>
                <li ><a routerLink="/select-categorys"  routerlinkactive="active">
                        <img src="../../../assets/images/icons/dashboard icons/add new product 2.png"> Add New Product</a></li>
            <li ><a  routerlinkactive="active">
                    <img src="../../../assets/images/icons/dashboard icons/my seller store.png"> My Seller Stores </a></li>
            <li ><a  routerlinkactive="active">
                    <img src="../../../assets/images/icons/dashboard icons/my pending ads.png"> My
                    Pending Ads</a></li>
            <li ><a  routerlinkactive="active">
                    <img src="../../../assets/images/icons/dashboard icons/my address book.png"> Address
                    Book</a></li>
            <li ><a  routerlinkactive="active">
                <img src="../../../assets/images/icons/dashboard icons/my active add.png"> My Active Ads</a></li>
            <li ><a  routerlinkactive="active">
                    <img src="../../../assets/images/icons/dashboard icons/my bids ad.png"> My Bids</a></li>
            <li ><a  routerlinkactive="active">
                    <img src="../../../assets/images/icons/dashboard icons/my offers.png"> My Offers</a>
            </li>
            <li ><a  routerlinkactive="active">
                    <img src="../../../assets/images/icons/dashboard icons/my purchase 2.png"> My
                    Purchases</a></li>
            <li ><a  routerlinkactive="active">
                    <img src="../../../assets/images/icons/dashboard icons/order recivers form buyer 2.png"> Orders
                    Received from Buyers</a></li>
            <li ><a  routerlinkactive="active">
                    <img src="../../../assets/images/icons/dashboard icons/watchlist 2.png"> My Watchlist</a>
                    </li>
            <li ><a  routerlinkactive="active">
                    <img src="../../../assets/images/icons/dashboard icons/my detial   2 .png"> My
                    Details</a></li>
            <li ><a  routerlinkactive="active">
                    <img src="../../../assets/images/icons/dashboard icons/account setting 2.png"> Account Setting</a>
            </li>
            <li ><a  routerlinkactive="active">
                    <img src="../../../assets/images/icons/dashboard icons/logout.png"> Logout</a>
            </li>
        </ul>
    </div>
    <div class="dashboard-body">
        <button class="open" (click)="open()">
            <i class="fa fa-bars"></i>
        </button>
        <router-outlet></router-outlet>
    </div>
</div>
<app-footer></app-footer>