
<app-header></app-header>
<div class="dashboard-layout">
    <div class="side-bar">
        <ul  class="">
            <li ><a  routerlinkactive="active" class="active"><i  aria-hidden="true"
                        class="fa fa-tachometer"></i>Seller Dashboard</a></li>
            <li ><a routerLink="/select-categorys" routerlinkactive="active" class=""><i  aria-hidden="true"
                        class="fa fa-plus-square"></i>Add New Product</a></li>
            <li ><a  routerlinkactive="active"><i  aria-hidden="true"
                        class="fa fa-cog"></i>My Seller Stores </a></li>
            <li ><a  routerlinkactive="active"><i  aria-hidden="true" class="fa fa-check"></i>My
                    Pending Ads</a></li>
            <li ><a  routerlinkactive="active"><i  class="fa fa-address-book"></i>My Address
                    Book</a></li>
            <li ><a  routerlinkactive="active"><i  aria-hidden="true" class="fa fa-check-square"></i>My Active Ads</a></li>
            <li ><a  routerlinkactive="active"><i  class="fa fa-gavel"></i>My Bids</a></li>
            <li ><a  routerlinkactive="active"><i  class="fa fa-certificate"></i>My Offers</a>
            </li>
            <li ><a  routerlinkactive="active"><i  class="fa fa-shopping-cart"></i>My
                    Purchases</a></li>
            <li ><a  routerlinkactive="active"><i  class="fa fa-shopping-cart"></i>Orders
                    Received from Buyers</a></li>
            <li ><a  routerlinkactive="active"><i  aria-hidden="true"
                        class="fa fa-list"></i> My Watchlist</a>
                    </li>
            <li ><a  routerlinkactive="active"><i  class="fa fa-info-circle"></i>My
                    Details</a></li>
            <li ><a  routerlinkactive="active"><i  class="fa fa-cogs"></i>Account Setting</a>
            </li>
            <li ><a  routerlinkactive="active"><i  class="fa fa-sign-out-alt"></i>Logout</a>
            </li>
        </ul>
    </div>
    <div class="dashboard-body">
        <button class="open" (click)="open()">
            <i class="fa fa-bars"></i>
        </button>
        <router-outlet></router-outlet>
    </div>
</div>
<app-footer></app-footer>