.recapcha-input {
    margin: 8px 0 0;
    background: #fff;
    padding: 4px;
    border: none;
    width: 100%;
    font-size: 18px!important;
    border-bottom: 1px solid #ccc !important;
    text-align: center!important;
}

.recapcha-input::placeholder {
    color: #5d5d5d;
    font-weight: 400
}

.card {
    width: 170px;
    margin: 0;
    padding: 8px;
    background: #fff;
}

.refrash-button {
    background: #000;
    border: none;
    color: #fff;
    border-radius: 50px;
    width: 30px;
    float: right;
    height: 30px;
    margin-top: 4px;
    line-height: 20px;
}

.refrash-button:hover {
    background: #c00
}

.refrash-button .mat-icon {
    line-height: inherit;
    font-size: 25px!important;
    width: auto;
    height: auto;
    margin: 5px 0;
}

.main img {
    width: 79%;
    float: left;
    border-radius: 5px;
}

::placeholder {
    font-size: 18px;
}