
	<!-- Title Page -->
	<section class="mt-97 bg-title-page p-t-40 p-b-50 flex-col-c-m" style="background-image: url(../../assets/images/heading-pages-06.jpg);">
		<h2 class="l-text2 t-center">
			About
		</h2>
	</section>

	<!-- content page -->
	<section class="bgwhite p-t-66 p-b-38">
		<div class="container">
			<div class="row">
				<div class="col-md-4 p-b-30">
					<div class="hov-img-zoom">
						<img src="../../assets/images/banner-14.jpg" alt="IMG-ABOUT">
					</div>
				</div>

				<div class="col-md-8 p-b-30">
					<h3 class="m-text26 p-t-15 p-b-16">
						Our story
					</h3>

					<p class="p-b-28">
						King Best Mall is an iconic place , part of community. We take pride in keeping the history and pride of community alive, been there for over 30 years , and at its new place for last 5 years. We are here because of you the community and we want to thank you by being there and shopping at our place for last 30 plus years and for years to come. 					</p>

					<div class="bo13 p-l-29 m-l-9 p-b-10">
						<p class="p-b-11">
							We are unique place , a shoppers paradise who wants wholesale prices in a Retail Market, we house more than 50 Vendors who believe in offering wholesale prices to its customers. We have the finest Jewelers offering best in Custom Jewelry, Car Audio Shops having the right Amps and speakers at the right price. From Shops offering ATV Four Wheelers, CBD Oil, Music, Mens Branded Clothing, Women's party Wear, Electronic Repair, Cell Phone Shops, iPhone Screen Repair done at the premises, Car Audio installation at site, Window Tint, Car Accessories, Barber Shop and many others. 						</p>

						<span class="s-text7">
						KingBestMall.Com
						</span>
					</div>
				</div>
			</div>
		</div>
	</section>