<div class="card change-password">


  <div class="userAccount">
    <h5 class="password-heading">Change Password</h5>

  </div>
  <form role="form" class="input-forms" [formGroup]="signupForm" >
    <div class="formpanel">
        <!-- <mat-form-field  >
            <input matInput placeholder="Product Quantity" formControlName="pass2" required>
              <mat-error *ngIf="signupForm.controls.pass2.value == ''"><strong>Cannot be empty</strong></mat-error>
    
          </mat-form-field> -->
      <div class="formrow">

        <mat-form-field class="mat-form-field-infixxx">
          <input matInput type="password"    [type]="hide ? 'password' : 'text'" formControlName="current" placeholder=" Current Password">
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          <mat-error *ngIf="signupForm.controls.current.value == ''"><strong>Cannot be empty</strong></mat-error>
         
        </mat-form-field>
      </div>
      <div class="formrow">
        <mat-form-field class="mat-form-field-infixxx">
          <input matInput type="password"     [type]="hide2 ? 'password' : 'text'"
            placeholder=" New Password" formControlName="pass1">
          <mat-icon matSuffix (click)="hide2 = !hide2">{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
          <mat-error *ngIf="signupForm.controls.pass1.value == ''"><strong>Cannot be empty</strong></mat-error>
          
          <mat-error *ngIf="(signupForm.controls.pass1.value == signupForm.controls.current.value)"><strong>Password not
              match
            </strong></mat-error>

        </mat-form-field>
      </div>
      <div class="formrow">
          <mat-form-field class="mat-form-field-infixxx">
            <input matInput type="password"     [type]="hide1 ? 'password' : 'text'"
              placeholder=" Confirm New  Password" formControlName="pass2">
            <mat-icon matSuffix (click)="hide1 = !hide1">{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
            <mat-error *ngIf="signupForm.controls.pass2.value == ''"><strong>Cannot be empty</strong></mat-error>
            <mat-error
            *ngIf="(signupForm.controls.pass2.value != signupForm.controls.pass1.value) || signupForm.controls.pass2.value == ''">
            <strong>Password not match
            </strong></mat-error>
  
          </mat-form-field>
        </div>
      <!-- <div class="formrow">
        <mat-form-field class="mat-form-field-infixxx">
          <input matInput type="password"    [type]="hide2 ? 'password' : 'text'"
            formControlName="pass2" placeholder="Confirm New Password">

          <mat-icon matSuffix (click)="hide2 = !hide2">{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
          <mat-error *ngIf="signupForm.controls.new2.value == ''"><strong>Cannot be empty</strong></mat-error>
           <mat-error
            *ngIf="(signupForm.controls.pass2.value != signupForm.controls.pass1.value) || signupForm.controls.pass2.value == ''">
            <strong>Password not match
            </strong></mat-error>

        </mat-form-field>
      </div> -->

     

      <button class="login-btn" (click)="updatePassword()">Update</button>

    </div>
  </form>


</div>