.search-bar{
    margin-left: auto;
}
.fa-youtube-play{
    color: #c00;
}
.fa-snapchat-ghost{
    color: #FEFC00;
}
.fa-pinterest-p{
    color: #c8232c;
}
.fa-instagram{
    color: #CC3366;
}
.fa-facebook{
    color: #3b5998;
}
.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}
.fa-android {
    color: #a4c639;
}
.fa-apple {
    color: #a3aaae;
}

.menu-show{
    width: 100%;
    display: none;
    position: absolute;
    top: 55px;
    left: 0;
    z-index: 3;
    .menu-inner{
        width: 95%;
        padding: 10px;
        border: 1px solid #ccc;
        margin: 0 auto;
        background: #fff;
        h5{
            font-size: 18px;
            padding-bottom: 10px;
            border-bottom: 1px solid #ccc;
            margin-bottom: 5px;
        }
        img{
            width: 100%;
        }
        a{
            font-size: 13px;
            font-weight: 600;
            color: #273c61;
            &:hover{
                color: #a91f73;
            }
        }
    }
}
.electronics:hover .menu-show{
    display: block !important;
}
.main_menu li a img{
    width: 20px;
}
