<!-- Header -->
<header class="header1">
    <!-- Header desktop -->
    <div class="topbar">
            <div class="topbar-social">
                <a routerLink="/" class="topbar-social-item fa fa-facebook"></a>
                <a routerLink="/" class="topbar-social-item fa fa-instagram"></a>
                <a routerLink="/" class="topbar-social-item fa fa-pinterest-p"></a>
            </div>
 

            <div class="topbar-child2">
                <!-- <span class="topbar-email">
                        contact@kingbestmall.com
                </span> -->
                <div class="">
                        <a (click)="logout()" class="topbar-social-item fa fa-sign-in"></a>
                        <a routerLink="/" class="topbar-social-item fa fa-heart"></a>
                        <a routerLink="/" class="topbar-social-item fa fa-shopping-cart"></a>
                        <!-- <a routerLink="/login" class="topbar-social-item">MY kingbestmall</a> -->
                        <!-- <a routerLink="/" class="topbar-social-item fa fa-snapchat-ghost"></a>
                        <a routerLink="/" class="topbar-social-item fa fa-youtube-play"></a> -->
                    </div>
                
            </div>
        </div>
    <div class="container-menu-header">
        

        <div class="wrap_header">
            <!-- Logo -->
            <a routerLink="/" class="logo">
                <!-- <img src="/../../assets/images/icons/logo.png" alt="IMG-LOGO"> -->
                <img src="../../assets/images/icons/logo 11.png" alt="IMG-LOGO">
            </a>
            <div class="wrap_menu search-bar">
                <nav class="menu">
                    <ul class="main_menu">

                                <!-- <li>
                                    <a routerLink="/">Home</a>
                                </li>  -->
                                <li>
                                    <a routerlink="/">
                                        <img src="../../../assets/images/icons/categories/Save.png">
                                        Saved
                                    </a>
                                </li>
                                <li class="electronics">
                                    <a routerLink="/contactus">
                                        <img src="../../../assets/images/icons/categories/Electronics.png">
                                        Electronics</a>
                                    <div class="menu-show">
                                        <div class="row menu-inner">
                                            <div class="col-lg-3">
                                                <h5>Top Categories</h5>
                                                <ul>
                                                    <li><a href="#" class="">Cell Phones &amp; Accessories</a></li>
                                                    <li><a href="#" class="">Smart Watches</a></li>
                                                    <li><a href="#" class="">Video Games &amp; Accessories</a></li>
                                                    <li><a href="#" class="">Computers &amp; Tablets</a></li>
                                                    <li><a href="#" class="">Digital Cameras &amp; Photo</a></li>
                                                    <li><a href="#" class="">Camera Drones</a></li>
                                                    <li><a href="#" class="">Deals</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-lg-3">
                                                    <h5>Other Categories</h5>
                                                    <ul>
                                                        <li><a href="#" class="">IPhone</a></li>
                                                        <li><a href="#" class="">Samsung</a></li>
                                                        <li><a href="#" class="">Portable Audio & Headphones</a></li>
                                                        <li><a href="#" class="">TV, Video & Home Audio</a></li>
                                                        <li><a href="#" class="">Vehicle Electronics & GPS</a></li>
                                                        <li><a href="#" class="">Smart Home</a></li>
                                                    </ul>
                                                </div>
                                                <div class="col-lg-6">
                                                    <img src="https://i.ebayimg.com/00/s/MjcwWDc3MA==/z/-hwAAOSwABNcXDL0/$_57.JPG">
                                                </div>
                                        </div>
                                    </div>
                                </li>
                               
                                <li class="electronics">
                                    <a routerLink="/contactus">
                                        <img src="../../../assets/images/icons/categories/Fashion.png">
                                        Fashion</a>
                                        <div class="menu-show">
                                            <div class="row menu-inner">
                                                <div class="col-lg-3">
                                                    <h5>Top Categories</h5>
                                                    <ul>
                                                        <li><a href="#" class="">Women's Clothing</a></li>
                                                        <li><a href="#" class="">Women's Shoes</a></li>
                                                        <li><a href="#" class="">Men's Clothing</a></li>
                                                        <li><a href="#" class="">Men's Shoes</a></li>
                                                        <li><a href="#" class="">Watches, Parts & Accessories</a></li>
                                                        <li><a href="#" class="">Deals</a></li>
                                                    </ul>
                                                </div>
                                                <div class="col-lg-3">
                                                        <h5>Other Categories</h5>
                                                        <ul>
                                                            <li><a href="#" class="">Fine Jewelry</a></li>
                                                            <li><a href="#" class="">Fashion Jewelry</a></li>
                                                            <li><a href="#" class="">Men's Accessories</a></li>
                                                            <li><a href="#" class="">Women's Handbags & Bags</a></li>
                                                            <li><a href="#" class="">Kids' Clothing, Shoes & Accs</a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <img src="https://i.ebayimg.com/00/s/MjcwWDc3MA==/z/VWgAAOSwFpVcXDL0/$_57.JPG">
                                                    </div>
                                            </div>
                                        </div>
                                </li>
                                <li class="electronics">
                                    <a routerLink="/contactus">
                                        <img src="../../../assets/images/icons/categories/Health.png">
                                        Health & Beauty</a>
                                        <div class="menu-show">
                                            <div class="row menu-inner">
                                                <div class="col-lg-3">
                                                    <h5>Top Categories</h5>
                                                    <ul>
                                                        <li><a href="#" class="">Makeup</a></li>
                                                        <li><a href="#" class="">Health Care</a></li>
                                                        <li><a href="#" class="">Fragrances</a></li>
                                                        <li><a href="#" class="">Nail Care, Manicure & Pedicure</a></li>
                                                        <li><a href="#" class="">Hair Care & Styling</a></li>
                                                        <li><a href="#" class="">Deals</a></li>
                                                    </ul>
                                                </div>
                                                <div class="col-lg-3">
                                                        <h5>Other Categories</h5>
                                                        <ul>
                                                            <li><a href="#" class="">Skin Care</a></li>
                                                            <li><a href="#" class="">Vitamins & Dietary Supplements</a></li>
                                                            <li><a href="#" class="">Shaving & Hair Removal</a></li>
                                                            <li><a href="#" class="">Vision Care</a></li>
                                                            <li><a href="#" class="">Bath & Body</a></li>
                                                            <li><a href="#" class="">Oral Care</a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <img src="https://i.ebayimg.com/00/s/MjcwWDc3MA==/z/s5gAAOSwaRRcXDL1/$_57.JPG">
                                                    </div>
                                            </div>
                                        </div>
                                </li>
                                <li class="electronics">
                                    <a routerLink="/contactus">
                                        <img src="../../../assets/images/icons/categories/Moters.png">
                                        Motors</a>
                                        <div class="menu-show">
                                            <div class="row menu-inner">
                                                <div class="col-lg-3">
                                                    <h5>Top Categories</h5>
                                                    <ul>
                                                        <li><a href="#" class="">Car & Truck Parts</a></li>
                                                        <li><a href="#" class="">Motorcycle Parts</a></li>
                                                        <li><a href="#" class="">ATV Parts</a></li>
                                                        <li><a href="#" class="">Scooter Parts</a></li>
                                                        <li><a href="#" class="">Snowmobile Parts</a></li>
                                                        <li><a href="#" class="">Deals</a></li>
                                                    </ul>
                                                </div>
                                                <div class="col-lg-3">
                                                        <h5>Other Categories</h5>
                                                        <ul>
                                                            <li><a href="#" class="">Motorcycle Apparel</a></li>
                                                            <li><a href="#" class="">Snowmobile Apparel</a></li>
                                                            <li><a href="#" class="">Motorcycle Accessories</a></li>
                                                            <li><a href="#" class="">Performance & Racing Parts</a></li>
                                                            <li><a href="#" class="">Vintage Car & Truck Part</a></li>
                                                            <li><a href="#" class="">Car Electronics</a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <img src="https://i.ebayimg.com/00/s/MjcwWDc3MA==/z/sTEAAOSwl7pcXDL2/$_57.JPG">
                                                    </div>
                                            </div>
                                        </div>
                                </li>
                                <li class="electronics">
                                    <a routerLink="/contactus">
                                        <img src="../../../assets/images/icons/categories/Collectible.png">
                                        Collectibles</a>
                                        <div class="menu-show">
                                            <div class="row menu-inner">
                                                <div class="col-lg-3">
                                                    <h5>Top Categories</h5>
                                                    <ul>
                                                        <li><a href="#" class="">Action Figures</a></li>
                                                        <li><a href="#" class="">Coins and Paper Money</a></li>
                                                        <li><a href="#" class="">Stamps</a></li>
                                                        <li><a href="#" class="">Postcards</a></li>
                                                        <li><a href="#" class="">Autographed Memorabilia</a></li>
                                                        <li><a href="#" class="">Sport Memorabilia</a></li>
                                                        <li><a href="#" class="">Collectibles</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-lg-3">
                                                        <h5>Other Categories</h5>
                                                        <ul>
                                                            <li><a href="#" class="">Arts</a></li>
                                                            <li><a href="#" class="">Antiques</a></li>
                                                            <li><a href="#" class="">Pens & Writing Instruments</a></li>
                                                            <li><a href="#" class="">TV, Movie & Character Toys</a></li>
                                                            <li><a href="#" class="">Toy Vehicles</a></li>
                                                            <li><a href="#" class="">Comics</a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <img src="https://i.ebayimg.com/00/s/MjcwWDc3MA==/z/ppAAAOSwyrlcXDL2/$_57.JPG">
                                                    </div>
                                            </div>
                                        </div>
                                </li>
                                <li class="electronics">
                                    <a routerLink="/contactus">
                                        <img src="../../../assets/images/icons/categories/Sports.png">
                                        Sports</a>
                                        <div class="menu-show">
                                            <div class="row menu-inner">
                                                <div class="col-lg-3">
                                                    <h5>Top Categories</h5>
                                                    <ul>
                                                        <li><a href="#" class="">Cycling</a></li>
                                                        <li><a href="#" class="">Outdoor Sports</a></li>
                                                        <li><a href="#" class="">Hunting</a></li>
                                                        <li><a href="#" class="">Fishing</a></li>
                                                        <li><a href="#" class="">Fitness, Running & Yoga</a></li>
                                                        <li><a href="#" class="">Deals</a></li>
                                                    </ul>
                                                </div>
                                                <div class="col-lg-3">
                                                        <h5>Other Categories</h5>
                                                        <ul>
                                                            <li><a href="#" class="">Tennis</a></li>
                                                            <li><a href="#" class="">Swimming</a></li>
                                                            <li><a href="#" class="">Water Sports</a></li>
                                                            <li><a href="#" class="">Winter Sports</a></li>
                                                            <li><a href="#" class="">Team Sports</a></li>
                                                            <li><a href="#" class="">Fitness Technology</a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <img src="https://ir.ebaystatic.com/rtm/0/RTMS/Image/14777_EN_ROW_FlyoutsUpdate_Football_770x270.jpg">
                                                    </div>
                                            </div>
                                        </div>
                                </li>
                                <li class="electronics">
                                    <a routerLink="/contactus">
                                        <img src="../../../assets/images/icons/categories/Home and Garden.png">
                                        Home & Garden</a>
                                        <div class="menu-show">
                                            <div class="row menu-inner">
                                                <div class="col-lg-3">
                                                    <h5>Top Categories</h5>
                                                    <ul>
                                                        <li><a href="#" class="">Tools & Workshop Equipment</a></li>
                                                        <li><a href="#" class="">Yard, Garden & Outdoor Living</a></li>
                                                        <li><a href="#" class="">Home Improvement</a></li>
                                                        <li><a href="#" class="">Baby</a></li>
                                                        <li><a href="#" class="">Kitchen, Dining & Bar</a></li>
                                                        <li><a href="#" class="">Lamps, Lighting & Ceiling Fans</a></li>
                                                        <li><a href="#" class="">Deals</a></li>
                                                    </ul>
                                                </div>
                                                <div class="col-lg-3">
                                                        <h5>Other Categories</h5>
                                                        <ul>
                                                            <li><a href="#" class="">Home Décor</a></li>
                                                            <li><a href="#" class="">Home Organization Supplies</a></li>
                                                            <li><a href="#" class="">Art & Craft Supplies</a></li>
                                                            <li><a href="#" class="">Beads & Jewelry Making Supplies</a></li>
                                                            <li><a href="#" class="">Art Supplies</a></li>
                                                            <li><a href="#" class="">Scrapbooking & Paper Crafts</a></li>
                                                            <li><a href="#" class="">Pets Supplies</a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <img src="https://ir.ebaystatic.com/rtm/0/RTMS/Image/14777_EN_ROW_FlyoutsUpdate_SmartHome_770x270.jpg">
                                                    </div>
                                            </div>
                                        </div>
                                </li>
                                <li>
                                    <a routerLink="/gallery">
                                        <img src="../../../assets/images/icons/categories/Gallery.png">
                                        Store Gallery
                                    </a>
                                </li>
                                <!--<li>
                                    <a routerLink="/contactus">Under $10</a>
                                </li> -->

                               



                        
                        <li >
                            <a class="btn-serach" data-toggle="modal" data-target="#exampleModal">
                                <i class="fa fa-search"></i>
                            </a>
                        </li>
                        <!-- <li >
                            <a class="btn-serach" >
                                <i class="fa fa-apple"></i>
                            </a>
                        </li>
                        <li >
                            <a class="btn-serach" >
                                <i class="fa fa-android"></i>
                            </a>
                        </li> -->
                        
                        <li>
                            <a (click)="get_show_menu()" class="topbar-social-item">MY kingbestmall</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <!-- Menu -->
          
            <!-- <div class="wrap_menu menu-bar">
                <nav class="menu">
                    <ul class="main_menu">
                        <li>
                            <a routerLink="/">Home</a>
                        </li>
                        <li>
                            <a routerlink="/">Saved</a>
                        </li>
                        <li>
                            <a routerLink="/contactus">Electronics</a>
                        </li>

                        <li>
                            <a routerLink="/contactus">Fashion</a>
                        </li>
                        <li>
                            <a routerLink="/contactus">Health & Beauty</a>
                        </li>
                        <li>
                            <a routerLink="/contactus">Motors</a>
                        </li>
                        <li>
                            <a routerLink="/contactus">Collectibles</a>
                        </li>
                        <li>
                            <a routerLink="/contactus">Sports</a>
                        </li>
                        <li>
                            <a routerLink="/contactus">Home & Garden</a>
                        </li>
                        <li>
                            <a routerLink="/contactus">Deals</a>
                        </li>
                        <li>
                            <a routerLink="/contactus">Under $10</a>
                        </li>
                    </ul>
                </nav>
            </div> -->

            <!-- Header Icon -->
            <!-- <div class="header-icons">
                <a routerLink="/" class="header-wrapicon1 dis-block">
                    <img src="../../assets/images/icons/icon-header-01.png" class="header-icon1" alt="ICON">
                </a>

                <span class="linedivide1"></span>

                <div class="header-wrapicon2">
                    <img src="../../assets/images/icons/icon-header-02.png" class="header-icon1 js-show-header-dropdown" alt="ICON">
                    <span class="header-icons-noti">0</span>

                   
                </div>
            </div> -->
        </div>
    </div>

    <!-- Header Mobile -->
    <div class="wrap_header_mobile">
        <!-- Logo moblie -->
        <a routerLink="/" class="logo-mobile">
            <img src="../../assets/images/icons/logo.png" alt="IMG-LOGO">
        </a>

        <!-- Button show menu -->
        <div class="btn-show-menu">
            <!-- Header Icon mobile -->
            <div class="header-icons-mobile">
                <a routerLink="/" class="header-wrapicon1 dis-block">
                    <img src="../../assets/images/icons/icon-header-01.png" class="header-icon1" alt="ICON">
                </a>

                <span class="linedivide2"></span>

                <div class="header-wrapicon2">
                    <img src="../../assets/images/icons/icon-header-02.png" class="header-icon1 js-show-header-dropdown" alt="ICON">
                    <span class="header-icons-noti">0</span>

                    <!-- Header cart noti -->
                    <!-- <div class="header-cart header-dropdown">
                        <ul class="header-cart-wrapitem">
                            <li class="header-cart-item">
                                <div class="header-cart-item-img">
                                    <img src="../../assets/images/item-cart-01.jpg" alt="IMG">
                                </div>

                                <div class="header-cart-item-txt">
                                    <a routerLink="/" class="header-cart-item-name">
                                        White Shirt With Pleat Detail Back
                                    </a>

                                    <span class="header-cart-item-info">
                                        1 x $19.00
                                    </span>
                                </div>
                            </li>

                            <li class="header-cart-item">
                                <div class="header-cart-item-img">
                                    <img src="../../assets/images/item-cart-02.jpg" alt="IMG">
                                </div>

                                <div class="header-cart-item-txt">
                                    <a routerLink="/" class="header-cart-item-name">
                                        Converse All Star Hi Black Canvas
                                    </a>

                                    <span class="header-cart-item-info">
                                        1 x $39.00
                                    </span>
                                </div>
                            </li>

                            <li class="header-cart-item">
                                <div class="header-cart-item-img">
                                    <img src="../../assets/images/item-cart-03.jpg" alt="IMG">
                                </div>

                                <div class="header-cart-item-txt">
                                    <a routerLink="/" class="header-cart-item-name">
                                        Nixon Porter Leather Watch In Tan
                                    </a>

                                    <span class="header-cart-item-info">
                                        1 x $17.00
                                    </span>
                                </div>
                            </li>
                        </ul>

                        <div class="header-cart-total">
                            Total: $75.00
                        </div>

                        <div class="header-cart-buttons">
                            <div class="header-cart-wrapbtn">
                            
                                <a href="cart.html" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
                                    View Cart
                                </a>
                            </div>

                            <div class="header-cart-wrapbtn">
                         
                                <a routerLink="/" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
                                    Check Out
                                </a>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>

            <div class="btn-show-menu-mobile hamburger hamburger--squeeze">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </div>
        </div>
    </div>

    <!-- Menu Mobile -->
    <div class="wrap-side-menu" >
        <nav class="side-menu">
            <ul class="main-menu">
                <li class="item-topbar-mobile p-l-20 p-t-8 p-b-8">
                    <span class="topbar-child1">
                        Free shipping for standard order over $100
                    </span>
                </li>

                <li class="item-topbar-mobile p-l-20 p-t-8 p-b-8">
                    <div class="topbar-child2-mobile">
                        <span class="topbar-email">
                           contact@kingbestmall.com
                        </span>

                        <!-- <div class="topbar-language rs1-select2">
                            <select class="selection-1" name="time">
                                <option>USD</option>
                                <option>EUR</option>
                            </select>
                        </div> -->
                    </div>
                </li>

                <li class="item-topbar-mobile p-l-10">
                    <div class="topbar-social-mobile">
                        <a routerLink="/" class="topbar-social-item fa fa-facebook"></a>
                        <a routerLink="/" class="topbar-social-item fa fa-instagram"></a>
                        <a routerLink="/" class="topbar-social-item fa fa-pinterest-p"></a>
                        <a routerLink="/" class="topbar-social-item fa fa-snapchat-ghost"></a>
                        <a routerLink="/" class="topbar-social-item fa fa-youtube-play"></a>
                    </div>
                </li>

                <li class="item-menu-mobile">
                    <a routerLink="/">Home</a>
                    <!-- <ul class="sub-menu">
                        <li><a href="index.html">Homepage V1</a></li>
                        <li><a href="home-02.html">Homepage V2</a></li>
                        <li><a href="home-03.html">Homepage V3</a></li>
                    </ul> -->
                    <i class="arrow-main-menu fa fa-angle-right" aria-hidden="true"></i>
                </li>
<!-- 
                <li class="item-menu-mobile">
                    <a href="product.html">Shop</a>
                </li> -->

                <!-- <li class="item-menu-mobile">
                    <a href="product.html">Sale</a>
                </li> -->

                <!-- <li class="item-menu-mobile">
                    <a href="cart.html">Features</a>
                </li> -->

                <!-- <li class="item-menu-mobile">
                    <a href="blog.html">Blog</a>
                </li> -->

                <li class="item-menu-mobile">
                    <a routerLink="/aboutus">About</a>
                </li>

                <li class="item-menu-mobile">
                    <a routerLink="/contactus">Contact</a>
                </li>
            </ul>
        </nav>
    </div>
</header>





<!-- Modal -->
<div class="modal fade search-box" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
            <form action="">
                <input type="search" placeholder="Search">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </form>
        </div>
      </div>
    </div>
  </div>