<div class="dashboard">
    <div class="overview">
      <h2>Overview</h2>
      <div class="row">
        <div class="col-lg-3">
          <div class="view-box">
            <p><i class="fa fa-shopping-basket"></i>Orders</p>
            <h5>400</h5>
            <span>+45% From Previous month</span>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="view-box">
            <p><i class="fa fa-usd"></i>Incom</p>
            <h5>%188.90</h5>
            <span>+45% From Previous month</span>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="view-box">
            <p><i class="fa fa-eye"></i>Visitors</p>
            <h5>2368</h5>
            <span>+45% From Previous month</span>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="view-box">
            <p><i class="fa fa-user"></i>Customers</p>
            <h5>4230</h5>
            <span>+45% From Previous month</span>
          </div>
        </div>
      </div>
    </div>
    <div class="table-box">
        <h2>Products Sales</h2>
        <div class="graph">
          <img src="../../../../assets/images/icons/graph.PNG">
        </div>
    </div>
    <div class="table-box">
        <h2>Product Detail</h2>
        <table class="table">
            <thead>
              <tr>
                <th>Image</th>
                <th>Product</th>
                <th>Customer</th>
                <th>Purchased On</th>
                <th>Status</th>
                <th>Tracking No#</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <img src="../assets/examples/images/products/imac.png" alt="iMac">
                </td>
                <td>iMac</td>
                <td>Russell</td>
                <td>22/08/2018</td>
                <td>
                  <span class="badge badge-success font-weight-100">Paid</span>
                </td>
                <td>#98BC85SD84</td>
              </tr>
              <tr>
                <td>
                  <img src="../assets/examples/images/products/iphone.png" alt="iPhone">
                </td>
                <td>iPhone</td>
                <td>Carol</td>
                <td>15/07/2018</td>
                <td>
                  <span class="badge badge-warning font-weight-100">Pending</span>
                </td>
                <td>#98SA3C9SC</td>
              </tr>
              <tr>
                <td>
                  <img src="../assets/examples/images/products/applewatch.png" alt="apple_watch">
                </td>
                <td>apple Watch</td>
                <td>Austin Pena</td>
                <td>10/07/2018</td>
                <td>
                  <span class="badge badge-success font-weight-100">Paid</span>
                </td>
                <td>#98BC85SD84</td>
              </tr>
              <tr>
                <td>
                  <img src="../assets/examples/images/products/macmouse.png" alt="mac_mouse">
                </td>
                <td>mac Mouse</td>
                <td>Randy</td>
                <td>22/04/2018</td>
                <td>
                  <span class="badge badge-default font-weight-100">Failed</span>
                </td>
                <td>#98SA3C9SC</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>