
.cat-slider{
    position: absolute;
    bottom: 161px;
    width: 100%;
    .inner{
        width: 1000px;
        margin: 0 auto;
    }
    .cat-box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #00000087;
        border-radius: 10px;
        margin: 0 5px;
        max-width: 170px !important;
        color: #fff;
        font-weight: normal;
        text-align: center;
        padding: 5px;
        a{
            font-size: 13px;
        }
    }
}
.categories{
    .inner{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
    .category{
        margin: 0 10px;
        width: 160px;
        text-align: center;
        img{
            width: 100%;
        }
        label{
            font-size: 17px;
            font-weight: bold;
            color: #111820;
            margin-top: 10px;
        }
    }
}
.block2-txt{
    margin: 10px 10px;
    .s-text3{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: bold;
    }  
}
.block2-img{
    height: 215px;
    margin: 10px 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        max-width: 100%;
        max-height: 100%;
        margin: 0 auto;
        width: auto;
    }
}
.block2-price{
    display: flex;
    align-items: center;
    color: green;
    margin-bottom: 5px;
    a{
        margin-left: auto;
        color: #cc0000;
    }
}
.wrap-slick2{
    .block2-txt , .block2-name{
        font-weight: bold;
        color: #111820;
        text-transform: capitalize;
    }
}
.wrap-slick3{
    .block2-txt , .block2-name{
        font-weight: bold;
        color: #111820;
    }
}
.see-all-btn{
    text-align: center;
    margin: 20px;
    a{
        padding: 5px 20px;
        background: #000;
        color: #fff;
        border-radius: 50px;
        font-size: 18px;
        box-shadow: 0 4px 8px #b3b3b3;
        border: 1px solid #000;
        &:hover{
            border: 1px solid #eb2029;
            background: #eb2029;
            color: #fff;
        }
    }
}
.soical-icon{
    margin-top: 10px;
    i{
        font-size: 22px;
        margin: 0 10px 0 0;
    }
}
.blog{
    h4{
        // min-height: 63px;
        display: flex;
        align-items: center;
        a{
            font-weight: bold;
        }
    }
}
.slide{
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.3);
    margin: 3px 10px;
    border-radius: 5px;
}
.show-data{
    display: flex;
    flex-wrap: wrap;
    .block2{
        width: 195px;
        max-width: 195px;
        margin-bottom: 40px;
    }
    .block2-img{
        height: 190px;
    }
}

.block3-img{
    height: 210px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        max-width: 100%;
    }
}
.add-2-card{
    margin: 0 auto;
    padding: 5px 15px;
    display: block;
    background: #000;
    color: #fff;
    border-radius: 50px;
    box-shadow: 0 4px 8px #b3b3b3;
    &:hover{
       background: #a91f73;
    }
}