<div class="purchase">
  <h3>My Purchase History</h3>
  <div class="pur-table">
    <table class="table">
      <thead>
        <tr>
          <th class="w-150">Shipment Date</th>
          <th>Items in the Shipment</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Aug-1-2019</td>
          <td>
            <div class="pro-info">
              <div class="product-img">
                <img src="https://storage.dhaar.pk/UmarScrapping/01ff11ad1f8d3118.jpg">
              </div>
              <p>Lenovo V520 CI5: 7500, 4GB, 1TB, DOS, 1 YR Lenovo V520 CI5: 7500, 4GB, 1TB, DOS, 1 YR </p>
            </div>
          </td>
          <td>
            <button>Leave Packaging Feedback</button>
            <button>Live Tracking</button>
          </td>
        </tr>
        <tr>
          <td>Aug-1-2019</td>
          <td>
            <div class="pro-info">
              <div class="product-img">
                <img src="https://storage.dhaar.pk/UmarScrapping/01ff11ad1f8d3118.jpg">
              </div>
              <p>Lenovo V520 CI5: 7500, 4GB, 1TB, DOS, 1 YR Lenovo V520 CI5: 7500, 4GB, 1TB, DOS, 1 YR </p>
            </div>
          </td>
          <td>
            <button>Leave Packaging Feedback</button>
            <button>Live Tracking</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>