<footer class="bg6">
    
    <!--  -->
        <div  class="main-footer">
        <div  class="inner-footer">
            <div>
                <a href="#" class="logo">
                    <img src="../../../assets/images/icons/f-logo 11.png" >
                </a>
                <ul>
                    <li>
                        <a href="#">
                            <i class="fa fa-chevron-right"></i>
                        About Us</a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-chevron-right"></i>
                            Contact Us
                        </a>
                    </li>
                    <li>
                        <a href="/gallery">
                            <i class="fa fa-chevron-right"></i>
                            Store Gallery
                        </a>
                    </li>
                   
                </ul>
            </div>
            <div>
                    <h4>Categories</h4>
                    <ul>
                        <li>
                            <a href="#">
                                <i class="fa fa-tablet"></i>
                                Phone & Tablets
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-shopping-bag"></i>
                                Women's Fashion
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-black-tie"></i>
                                Men's Fashion
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa fa-music"></i>
                                TV Audio & Video
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa fa-laptop"></i>
                                Computing & Laptops
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa fa-home"></i>
                                Home Appliances
                            </a>
                        </li>
                        
                    </ul>
                </div>
            <div>
                    <h4>Accounts</h4>
                    <ul>
                        <li>
                            <a routerLink="/signup">
                                <i class="fa fa-chevron-right"></i>
                                Signup Now
                            </a>
                        </li>
                        <li>
                            <a routerLink="/login">
                                <i class="fa fa-chevron-right"></i>
                                My Account
                            </a>
                        </li>
                    </ul>
                </div>
            <div>
                <h4>Get in Touch</h4>
                <ul>
                    <li>
                        <a href="#">Address:</a>
                    </li>
                    <li>
                       <a href="#">5090 Griggs Rd, Houston, TX 77021</a>
                    </li>
                    <li>
                        <a href="#">Contact Phone:</a>
                    </li>
                    <li>
                        <a href="#">832-643-8577</a>
                    </li>
                    <li>
                        <a href="#">832-419-7809</a> 
                    </li>
                    <li>
                        <a href="#">Email : KingBestMall@Gmail.com</a>
                    </li>
                </ul>
            </div>
            
                <div>
                    <h4>Social Links</h4>
                    <ul class="footer-link">
                            <li>
                                <a href="#" rel="noreferrer" target="_blank">
                                    <img alt="" height="45px" src="../../../assets/images/icons/facebook1.png" width="45px">
                                    FaceBook
                                </a>
                            </li>
                            <li>
                                <a href="#" rel="noreferrer" target="_blank">
                                    <img alt="" height="45px" src="../../../assets/images/icons/twitter.png" width="45px">
                                    Twitter
                                </a>
                            </li>
                            
                            <li>
                                <a href="#" rel="noreferrer" target="_blank">
                                    <img alt="" height="45px" src="../../../assets/images/icons/linkedin.png" width="45px">
                                    Linked In
                                </a>
                            </li>
                        </ul>
                </div>
                

        </div>
    </div>
    <!--  -->
    
    
    <!-- <div class="flex-w p-b-90">
        <div class="w-size6 p-t-30 p-l-15 p-r-15 respon3">
            <h4 class="s-text12 p-b-30">
                GET IN TOUCH
            </h4>

            <div>
                <p class="s-text7 w-size27">

                        Address: 
                        <br/>
                        5090 Griggs Rd, Houston, TX 77021 
                     <br/>  Contact Phone:<br/>
                            Ashar: 832-643-8577<br/>
                            Ron:   832-419-7809
                       
                     <br/>   Email : KingBestMall@Gmail.com

                </p>

                <div class="flex-m p-t-30">
                    <a href="#" class="fs-18 color1 p-r-20 fa fa-facebook"></a>
                    <a href="#" class="fs-18 color1 p-r-20 fa fa-instagram"></a>
                    <a href="#" class="fs-18 color1 p-r-20 fa fa-pinterest-p"></a>
                    <a href="#" class="fs-18 color1 p-r-20 fa fa-snapchat-ghost"></a>
                    <a href="#" class="fs-18 color1 p-r-20 fa fa-youtube-play"></a>
                </div>
            </div>
        </div>

        

        <div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
            <h4 class="s-text12 p-b-30">
                Links
            </h4>

            <ul>
               

                <li class="p-b-9">
                    <a href="#" class="s-text7">
                        About Us
                    </a>
                </li>

                <li class="p-b-9">
                    <a href="#" class="s-text7">
                        Contact Us
                    </a>
                </li>

                
            </ul>
        </div>

       

        <div class="w-size8 p-t-30 p-l-15 p-r-15 respon3">
            <h4 class="s-text12 p-b-30">
                Newsletter
            </h4>

            <form>
                <div class="effect1 w-size9">
                    <input class="s-text7 bg6 w-full p-b-5" type="text" name="email" placeholder="email@example.com">
                    <span class="effect1-line"></span>
                </div>

                <div class="w-size2 p-t-20">
                    
                    <button class="flex-c-m size2 bg4 bo-rad-23 hov1 m-text3 trans-0-4">
                        Subscribe
                    </button>
                </div>

            </form>
        </div>
    </div> -->



    <div class="t-center copy-r">
        <div class="">
            Copyright © 2019 All rights reserved.
             <!-- | This site is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://www.kingbestmall.com" target="_blank">king Best Mall</a> -->
        </div>
        <div class="input-group footer-input">
            <input 
                class="form-control" name="email"
                placeholder="Subscribe to KingBestMall" required=""
                type="email">
            <div  class="input-group-btn"><button 
                    class="btn send-btn" type="button"><i 
                        class="fa fa-arrow-up"></i></button>
                    </div>
        </div>
    </div>
</footer>
