.bread-crumb .s-text16{
	color: #a91f73;
}
.product-big-image {
    display: flex;
    flex-direction: row;
    padding: 10px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
	height: fit-content;
	.SliderImages{
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: row;
		.SmallImages {
			display: flex;
			flex-direction: column;
			padding: 0 10px;
			max-height: 500px;
			height: 100%;
			justify-content: center;
			align-items: center;
			overflow-y: hidden;
			.side-image {
				display: block;
				margin: 10px 0;
			}
		}
		.Thumbnail {
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}
.slide{
	margin: 0 10px;
	.s-text3{
		font-weight: 600;
		color: #000;
	}
}