<section  class="main-container">
  <div  class="container">
    <div  class="page-title">
      <h2  class="text-center">Checkout</h2>
    </div>
    <div  class="row">
      <div  class="col-sm-8">
        <div  class="checkout-table table-responsive">
         <table class="table">
           <thead>
             <tr>
               <th>Product</th>
               <th>Description</th>
               <th>Quantity</th>
               <th>Price</th>
             </tr>
           </thead>
           <tbody>
            <tr>
              <td>
                <img src="https://storage.dhaar.pk/UmarScrapping/01ff11ad1f8d3118.jpg" >
              </td>
              <td>
                  Lenovo V520 CI5: 7500, 4GB, 1TB, DOS, 1 YR
                  Lenovo V520 CI5: 7500, 4GB, 1TB, DOS, 1 YR
                  <div class="icons">
                    <i class="fa fa-heart"></i>
                    <i class="fa fa-trash text-danger"></i>
                  </div>
              </td>
              <td>
                  $69,809
              </td>
              <td class="qty-td">
                <button>
                  -
                </button>
                <p>
                  5
                </p>
                <button>
                  +
                </button>
              </td>
            </tr>
           </tbody>
         </table>
        </div>
      </div>
      <div  class="col-md-4 bg-light-grey">
        <!---->
        <div  class="address-title-container">
          <p  class="address-heading">Order Summary</p>
          <!---->
          <div ><span 
              class="checkout-summary-label">Subtotal</span><span 
              class="checkout-summary-value">$139,618</span></div>
          <div  class="margin-top-10"><span 
              class="checkout-summary-label">Shipping Fee</span><span 
              class="checkout-summary-value">Free</span></div>
          <div  class="voucher"><input 
              class="voucher-input ng-untouched ng-pristine ng-valid" placeholder=" Coupon Code" type="text"><button
               class="voucher-input-button" type="submit">Apply</button></div>
          <!---->
          <div  class="w-100"><span 
              class="price-total">Total</span><span  class="total-number">$139,618</span></div><a  class="btn-order">Place Order</a>
        </div>
      </div>
    </div>
  </div>
</section>