<div class="watchlist">
  <h3>Watchlist</h3>
  <div class="row">
    <div class="col-lg-12">
      <div class="list-view">
          <div class="col-lg-3 left">
              <input type="checkbox">
              <div class="img">
                <img src="https://i.ebayimg.com/images/m/mpTCc_MD3YHJMhcRuc-j4Ug/s-l200.jpg">
              </div>
          </div>
          <div class="col-lg-7 detail border-r">
              <div class="item-title">
                <a href="#" class="title">Nikon 50mm f/1.8D AF Nikkor Lens for Nikon Digital SLR Cameras - Brand New</a>
                <p>Condition: New</p>
              </div>
              <div class="info">
                  <div class="item-info pl-0 border-r">
                      <span class="info-label">ITEM PRICE: </span>
                      <span class="info-price"><span class="color">US $99.00</span></span>
                      <span class="info-shipping">Free Shipping</span>
                    </div>
                    <div class="item-info border-r">
                        <span class="info-label">TIME ENDS: </span>
                        <span class="info-price"><span class="color">Nov-30,</span></span>
                        <span class="info-shipping">08:26</span>
                    </div>
                    <div class="item-info">
                        <span class="info-label">SELLER: </span>
                        <span class="info-price"><a href="#" class="color">deal_expo (7816)</a></span>
                        <span class="info-shipping">99% positive feedback</span>
                    </div>
              </div>
              <div class="status">
                <span class="badge badge-success">Sold</span>
                <span class="badge badge-primary">111 Watching</span>
              </div>
          </div>
          <div class="col-lg-2 btn">
            <button>Buy it Now</button>
            <button>Add to Cart</button>
          </div>
      </div>
    </div>
  </div>
</div>