.watchlist{
    min-height: 450px;
    h3{
        font-size: 30px;
        font-weight: 500;
        color: #000;
        position: relative;
        margin-bottom: 12px;
        text-align: center;
        text-shadow: 1px 3px 4px #ccc;
    }
    .list-view{
        height: 170px;
        display: flex;
        border-radius: 10px;
        box-shadow: 0 4px 8px #ccc;
        padding: 10px 0px;
        .left{
            display: flex;
            // justify-content: center;
            align-items: center;
            height: 100%;
            border-right: 1px solid #ccc;
            input{
                zoom: 1.5;
                margin-left: 5px;
            }
            .img{
                width: 150px;
                height: 150px;
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                margin: 0 auto;
                img{
                    width: 100%;
                }
            }
        }
    }
    .detail{
        .item-title{
            .title{
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                display: block;
                color: #000;
                font-weight: 600;
                font-size: 1rem;
            }
        }
        .info{
            display: flex;
            margin: 12px 0 0;
            .item-info{
                padding: 0 18px;
                span{
                    display: block;
                }
                .info-label {
                    font-size: .75rem;
                    text-transform: capitalize;
                    color: #6e6e6e;
                }
                .info-price {
                    font-size: 1rem;
                    color: #000;
                }
                .info-shipping{
                    color: #6e6e6e;
                    font-size: .75rem;
                }
                .color{
                    font-weight: 600;
                    color: #a91f73;
                    text-transform: capitalize;
                }
            }
        }
        .status{
            span{
                margin-right: 5px;
            }
        }
    }
    .btn{
        button{
            display: block;
            width: 100%;
            background: linear-gradient(90deg, #a91f73 0, #ff4270 100%);
            padding: 5px;
            color: #fff;
            border-radius: 50px;
            box-shadow: 0 4px 8px #ccc;
            border: 1px solid #ff4270;
            margin-bottom: 10px;
            &:hover{
                background: #fff;
                color: #ff4270;
                border: 1px solid #ff4270;
            }
        }
    }
}
.pl-0{
    padding-left: 0;
}
.border-r{
    border-right: 1px solid #ccc;
}