 
<mat-horizontal-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Enter Your Product Name </ng-template>
   
      <mat-form-field  >
 
          <input matInput #input maxlength="1000" name="Title" placeholder="Product Title"
          formControlName="P_Title" required>
          <mat-hint align="end">{{input.value?.length || 0}}/1000</mat-hint>
          
        <mat-error
          *ngIf="firstFormGroup.controls['P_Title'].value == '' || !firstFormGroup.controls['P_Title'].value">
          <strong>Please Enter the Product Title</strong></mat-error>

      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Fill out your address</ng-template>
      <mat-form-field>
        <input matInput placeholder="Address" formControlName="secondCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    You are now done.
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
