.mt-100px{
    margin-top: 94px;
    padding: 0;
}
.product{
    display: flex;
}
.side-bar{
    padding: 10px 0 0 18px;
    box-shadow: 0px 2px 9px #ccc;
    width: 330px;
    h6{
        margin: 10px 0;
        font-size: 20px;
        font-weight: 500;
    }
}