
  <div class="container-fluid mt-100px">
    <div class="product">
      
      <div class="side-bar">
        <h6>Product Type</h6>
        <ul class="check-box-list">
          <li>
            <label>
              <input type="radio" name="mode" value="create">
              <span>create table</span>
           </label>
          </li>
          <li>
              <label>
                  <input type="radio" name="mode" value="create">
                  <span>create table</span>
               </label>
          </li>
          <li>
              <label>
                  <input type="radio" name="mode" value="create">
                  <span>create table</span>
               </label>
          </li>
        </ul>
      </div>
      <div class="product-body">

      </div>
    </div>
  </div>
