<div class="container">
    <div class="row">
        <div class="form-1 form-width">
            <div class="form-1-header">
                <h1>Create Your King Account</h1>
                <ul class="form-1-sl">
                    <li><a><img src="../../../assets/images/icons/icon-facebook.png"></a></li>
                    <li><a><img src="../../../assets/images/icons/icon-Google.png"></a></li>
                </ul>
            </div>
            <div class="form-1-body text-center">
                <form [formGroup]="register" (ngSubmit)="onRegister(register.value)" role="form"
                    class="row input-forms signup-from">

                    <div class="col-lg-6">
                        <mat-form-field class="example-full-width">
                            <input matInput formControlName="Fname" name="FirstName" placeholder="First Name">
                            <mat-error *ngIf="register.controls.Fname.value == ''">
                                <strong class="error-block">First Name cannot be empty</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-6">
                        <mat-form-field class="example-full-width">
                            <input matInput formControlName="Lname" name="LastName" placeholder="Last Name">
                            <mat-error *ngIf="register.controls.Fname.value == ''">
                                <strong class="error-block">Last Name cannot be empty</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-6">
                        <mat-form-field class="example-full-width">
                            <input matInput formControlName="username" name="username" placeholder="Username">
                            <mat-error *ngIf="register.controls.username.value == ''">
                                <strong class="error-block">UserName cannot be empty</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="col-lg-6">
                        <mat-form-field class="example-full-width">
                            <input matInput formControlName="email" name="email" placeholder="Email">
                            <mat-error *ngIf="register.controls.email.value == ''">
                                <strong class="error-block">Email cannot be empty</strong>
                            </mat-error>
                            <mat-error *ngIf="register.controls.email.hasError('email')">
                                Please enter a valid email address
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="col-lg-6">
                        <mat-form-field class="example-full-width">
                            <input matInput formControlName="password" [type]="hide ? 'password' : 'text'"
                                name="password" placeholder="Password">
                            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}
                            </mat-icon>
                            <mat-error *ngIf="register.controls.password.value == ''">
                                <strong class="error-block">Passsword cannot be empty</strong>
                            </mat-error>
                            <mat-error *ngIf="register.controls.password.hasError('pattern')">
                                Password must be 8 characters long and must include 1 upper case, 1 lower case, 1 number
                                and 1 special character
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="col-lg-6">
                        <mat-form-field class="example-full-width">
                            <input matInput [type]="hide1 ? 'password' : 'text'" name="confrimpassword"
                                placeholder="Confirm Password">
                            <mat-icon matSuffix (click)="hide1 = !hide1">{{hide1 ? 'visibility_off' : 'visibility'}}
                            </mat-icon>
                            <mat-error *ngIf="register.controls.confirmpassword.value == ''">
                                <strong class="error-block">Confirm Passsword cannot be empty</strong>
                            </mat-error>
                             

                            <mat-error *ngIf="(register.controls.confirmpassword.value != register.controls.password.value) || register.controls.confirmpassword.value == ''"><strong>Password must match
                            </strong></mat-error>
 
                        </mat-form-field>
                    </div>
                    <br/>
                    <div class="col-lg-9 s-toggle text-left" >
                    <mat-slide-toggle (change)="changeCheck($event)">
                                By clicking on the "Signup" button below, you understand and agree that the use of this
                                Website, Mobile Apps, AI and ALL other related Technology Platforms are subject to the
                                <a target="_blank" href="/terms">Terms of Use</a>
                                and
                                <a target="_blank" href="/privacy">Privacy Policy</a>
                            </mat-slide-toggle><br>
                    </div>

                    <div class="formrow col-lg-3">
                        <div class="pull-right">
                            <app-recapcha></app-recapcha>
                        </div>
                    </div>
                    <!-- <div class="col-lg-9 s-toggle text-left">
                        <mat-slide-toggle (change)="changeCheck($event)">
                            By clicking on the "Signup" button below, you understand and agree that the use of this
                            Website, Mobile Apps, AI and ALL other related Technology Platforms are subject to the
                            <a target="_blank" href="/terms">Terms of Use</a>
                            and
                            <a target="_blank" href="/privacy">Privacy Policy</a>
                        </mat-slide-toggle><br>
                    </div> -->
                    <!-- [disabled]="disabledAgreement" -->
                    <button type="submit"  class="login-btn">Sign Up</button>
                </form>
                <div class="have-account">Already a Member? 
                    <a target="_blank"  href="/signin"> Sign In</a>
                </div>

            </div>
        </div>
    </div>
</div>