/* You can add global styles to this file, and also import other style files */
*{
    font-family: "Market Sans", Arial, sans-serif;
}

// Start input Form
.input-forms{
  
    
    .mat-input-infix {
        padding: .4375em 0!important;
    }
    .mat-input-element {
        padding: 5px 0;
        font-size: 24px!important;
        font-weight: 600 !important;
    }
    .mat-form-field-label {
        top: 34px;
        font-size: 16px!important;
        font-weight: 600!important;
        margin: 0;
    }
    .mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
        -webkit-transform: translateY(-26px) scale(.75) perspective(100px) translateZ(0)!important;
        transform: translateY(-26px) scale(.75) perspective(100px) translateZ(0)!important;
        -ms-transform: translateY(-26px) scale(.75)!important;
    }
}
.input-forms .mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding-bottom: 12px;
}
.input-forms{
    .mat-slide-toggle-content{
        font-size: 15px;
        font-weight: 500;
    }
    .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
        background-color: rgb(80, 80, 80);
    }
    .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
        background-color: #000;
    }
}
.signup-from{
    .mat-slide-toggle-content{
        font-size: 13px;
        font-weight: 400;
        white-space: normal;
        line-height: 16px;
        a{
            font-size: 13px;
            color: #007dff !important;
        }
    }
}
// End input Form

.mat-horizontal-stepper-header .mat-step-icon{
    display: none !important;
}
// .mat-step-icon-selected{
//     background: #f2f2f2;
//     padding: 5px;
//     border-radius: 5px;
// }


/* Strat Search Box */
.search-box{
    background: #000000a3;
    .modal-dialog{
        width: 100%;
        max-width: 100%;
        .modal-content{
            background: none;
            margin-top: 100px;
            border: none;
            position: relative;
            .modal-header{
                border: none;
                form{
                    width: 80%;
                    text-align: center;
                    position: relative;
                    margin: 0 auto;
                    input{
                        outline: 0;
                        font-size: 36px;
                        line-height: 48px;
                        width: 100%;
                        border: 0;
                        background: 0 0;
                        font-weight: 600;
                        text-align: center;
                        color: #000;
                        padding: 5px 10px;
                        background: #fff;
                        border-radius: 50px;
                    }
                    .close{
                        opacity: 9;
                        text-shadow: none;
                        span{
                            position: absolute;
                            top: -45px;
                            right: 0;
                            font-size: 36px;
                            color: #c00;
                        }
                    }
                }
                
            }
        }
    }
  }

// S home
.vendors-box{
    height: 480px;
    overflow: hidden;
}
.vendors-box-show{
    overflow: visible;
    height: auto;
}

.btn-hide{
    display: none;
}

.read-more{
    padding: 5px 20px;
    background: #000;
    color: #fff !important;
    border-radius: 50px;
    font-size: 18px;
    box-shadow: 0 4px 8px #b3b3b3;
    border: 1px solid #000;
    margin: 0 auto;
    text-align: center;
    cursor: pointer;
    &:hover{
        border: 1px solid #eb2029;
        background: #eb2029;
        color: #fff;
    }
}
.read-less {
    padding: 5px 20px;
    background: #000;
    color: #fff !important;
    border-radius: 50px;
    font-size: 18px;
    box-shadow: 0 4px 8px #b3b3b3;
    border: 1px solid #000;
    margin: 0 auto;
    text-align: center;
    cursor: pointer;
    display: none;
    &:hover{
        border: 1px solid #eb2029;
        background: #eb2029;
        color: #fff;
    }
}
.btn-show{
    display: block;
}
// E home
.wrap-slick2{
    .slick-main-btn-left{
        position: absolute;
        z-index: 1;
        top: 34%;
        left: -50px;
        font-size: 30px;
    }
    .slick-main-btn-right{
        position: absolute;
        z-index: 1;
        top: 34%;
        right: -50px;
        font-size: 30px;
    }
}
.slide1{
    position: relative;
    margin-top: 95px;
    height: 450px;
    overflow: hidden;
    border-radius: 0;
    box-shadow: 0 0 12px #4c4b4b;
    .fa-chevron-left{
        position: absolute;
        z-index: 1;
        font-size: 30px;
        color: #fff;
        top: 48%;
        left: 20px;
    }
    .fa-chevron-right{
        position: absolute;
        z-index: 1;
        font-size: 30px;
        color: #fff;
        top: 48%;
        right: 20px;
    }
}
.cat-slider{
    .fa-chevron-left{
        display: inline-block !important;
        top: 39%;
        left: -34px;
    }
    .fa-chevron-right{
        display: inline-block !important;
        top: 39%;
        right: -34px;
    }
}
.slick2{
    position: relative;
    .fa-chevron-left{
        position: absolute;
        z-index: 1;
        font-size: 30px;
        color: #444;
        top: 40%;
        left: -35px;
    }
    .fa-chevron-right{
        position: absolute;
        z-index: 1;
        font-size: 30px;
        color: #444;
        top: 40%;
        right: -35px;
    }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
