/* You can add global styles to this file, and also import other style files */
*{
    font-family: "Market Sans", Arial, sans-serif;
}
// Start input Form
.input-forms{
  
    
    .mat-input-infix {
        padding: .4375em 0!important;
    }
    .mat-input-element {
        padding: 5px 0;
        font-size: 24px!important;
        font-weight: 600 !important;
    }
    .mat-form-field-label {
        top: 34px;
        font-size: 16px!important;
        font-weight: 600!important;
        margin: 0;
    }
    .mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
        -webkit-transform: translateY(-26px) scale(.75) perspective(100px) translateZ(0)!important;
        transform: translateY(-26px) scale(.75) perspective(100px) translateZ(0)!important;
        -ms-transform: translateY(-26px) scale(.75)!important;
    }
}
.input-forms .mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding-bottom: 12px;
}
.input-forms{
    .mat-slide-toggle-content{
        font-size: 15px;
        font-weight: 500;
    }
    .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
        background-color: rgb(80, 80, 80);
    }
    .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
        background-color: #000;
    }
}
// End input Form
.wrap-slick2{
    .slick-main-btn-left{
        position: absolute;
        z-index: 1;
        top: 34%;
        left: -50px;
        font-size: 30px;
    }
    .slick-main-btn-right{
        position: absolute;
        z-index: 1;
        top: 34%;
        right: -50px;
        font-size: 30px;
    }
}
.slide1{
    position: relative;
    margin-top: 141px;
    height: 450px;
    overflow: hidden;
    border-radius: 0;
    box-shadow: 0 0 12px #4c4b4b;
    .fa-chevron-left{
        position: absolute;
        z-index: 1;
        font-size: 30px;
        color: #fff;
        top: 48%;
        left: 20px;
    }
    .fa-chevron-right{
        position: absolute;
        z-index: 1;
        font-size: 30px;
        color: #fff;
        top: 48%;
        right: 20px;
    }
}
.cat-slider{
    .fa-chevron-left{
        display: inline-block !important;
        top: 39%;
        left: -34px;
    }
    .fa-chevron-right{
        display: inline-block !important;
        top: 39%;
        right: -34px;
    }
}
.slick2{
    position: relative;
    .fa-chevron-left{
        position: absolute;
        z-index: 1;
        font-size: 30px;
        color: #444;
        top: 40%;
        left: -35px;
    }
    .fa-chevron-right{
        position: absolute;
        z-index: 1;
        font-size: 30px;
        color: #444;
        top: 40%;
        right: -35px;
    }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
