
.soical-icon{
    margin-top: 10px;
    i{
        font-size: 22px;
        margin: 0 10px 0 0;
    }
}
.blog{
    h4{
        min-height: 63px;
        display: flex;
        align-items: center;
    }
}